#subject {
    border-radius: 20px;
    border: 2px solid rgb(250, 250, 250);
    outline: none;
    color: black;
    background-color: rgb(246, 245, 245);
    margin: 1.5% 0;
    width: 85%;
    padding: 25px 25px;
    font-size: 14px;
    font-family: 'Poppins';
}

#message {
    border-radius: 20px;
    border: 2px solid rgb(250, 250, 250);
    outline: none;
    color: black;
    background-color: rgb(246, 245, 245);
    /* margin: 1.5% 0; */
    width: 85%;
    height: 80px;
    font-size: 14px;
    font-family: 'Poppins';
    /* align-content: flex-start; */
    /* align-items: self-start; */
    /* vertical-align: top; */
    /* Align content to the top */
    resize:none;

}