.button_common {
    background-color: #1D4ED8;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 18px;
    border-radius: 25px;
    width: 100%;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: -100px;
    font-family: 'Poppins';


}

.error {
    color: red;
    text-align: left;
    margin: auto;
    font-size: 16px;
    padding: 0px 1rem;
}