.button_common {
    background-color: #6834d4;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 18px;
    border-radius: 25px;
    width: 100%;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: -100px;
    font-family: 'Poppins';


}

.icon {
    position: fixed;
    top: 20px;
    /* Adjust as needed */
    right: 20px;
    /* Adjust as needed */
    cursor: pointer;
    color: red;
    /* Adjust color as needed */
    font-size: 24px;
    /* Adjust size as needed */
}

.error {
    color: red;
    text-align: left;
    margin: auto;
    font-size: 16px;
    padding: 0px 1rem;
}