.button_common {
    background-color: #6834d4;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 18px;
    border-radius: 25px;
    width: 100%;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: -100px;
    font-family: 'Poppins';
    position: relative;
}

.loader {
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #fff;
    border-radius: 50%;
    margin-left: 45%;

}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.icon {
    position: fixed;
    top: 30px;
    right: 40px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.error {
    color: red;
    text-align: left;
    margin: auto;
    font-size: 14px;
    padding: 0px 1rem;
}