.register {
    width: 450px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 10 / 64%), 0 8px 16px rgb(0 10 0 / 34%);
    border-radius: 15px;
    padding: 3rem;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.register>form {
    background-color: white;
    color: #1d2129;
    border-color: white;
    margin: auto;
    width: 80%;
    font-size: 16px;
    margin-bottom: 20px;
}

.register>form input {
    border-radius: 20px;
    border: 2px solid rgb(235, 235, 235);
    outline: none;
    color: #1d2129;
    background-color: rgb(246, 245, 245);
    margin: 1.5% 0;
    width: 85%;
    padding: 14px 25px;
    font-size: 14px;
    font-family: 'Poppins';

}