.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 15px 55px;

}

.nav-logo {
    width: 40px;
    height: 40px;
}

.nav-title {
    font-weight: 700;
    font-size: 28px;
    margin-left: 55px;
    text-decoration: none;
    margin-top: -45px;
}

.nav-menu {
    display: flex;
    list-style: none;
    font-size: 16px;
    gap: 40px;
    align-items: center;
    font-weight: 600;
    color: white;
}

.menu {
    text-decoration: none;
    color: white;
}
.nav-signin {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
    color: black;
    font-weight: 700;
    background-color: white;
    padding: 6px 15px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    width: fit-content;
    font-size: 15px;
    color: #6834d4;
}

.nav-signin:hover {
    background-color: #e4e4e4;
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.nav-signin-logo {
    width: 25px;
    height: 25px;
}
.nav-signout-logo {
    width: 20px;
    height: 20px;
}

.menu:hover {
    color: #dddcda;
    cursor: pointer;
}

.nav-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.active {
    color: #FDDE55; 
  }