.getlink-container {
  width: 500px;
  align-self: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 5%;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 30px;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 10 / 64%), 0 8px 16px rgb(0 10 0 / 34%);
  border-radius: 15px;
}

#subtittle {
  margin: 2px;
}

.link-container {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:-35px;
  border: 2px solid lightgray;
  border-style: dashed;
  border-radius: 7px;
  padding-inline: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
  position: relative;
}

#link {
  height: 55px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  text-decoration: none;
  color: blue;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 70px;
  height: 70px;
  outline: none;
  position: relative;
  background: none;
  border: none;
}

.icon-container .getlink-icon {
  border: 2px solid dodgerblue;
  border-radius: 20%;
  padding: 5px;
  cursor: pointer;
}

.link-loader {
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
#expiration {
  font-size: 14px;
  color: #ff0000;
  /* margin-bottom: 10px; */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
