.hero {
    margin: 0px 90px;
    margin-top: 230px;
}

.hero-text {
    color: white;
    font-size: 55px;
    font-weight: 600;
    line-height: 20px;
}

.hero-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 50px;
    font-weight: 600;
    background-color: white;
    padding: 6px 15px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    width: fit-content;
    font-weight: 700;
    font-size: 16px;
    color: #6834d4;
    margin-top: 60px;
}

.hero-btn:hover {
    background-color: #e4e4e4;
    transform: translateY(-5px);

}

.hero-icon {
    width: 30px;
    height: 30px;
}

.hero-dot-play {
    margin: 40px -30px;
    justify-content: space-between;
    display: flex;
}

.hero-dots {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.hero-dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.hero-dot.orange {
    background-color: #fcbc28;
}