body {
  scroll-behavior: smooth;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161e32;
  /* overflow: hidden; */

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5%; */
}
@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-c-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-btn {
  outline: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
  background-color: #1D4ED8;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
}

.disabled-btn {
  outline: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
  background-color: #5c5c5c;
  width: 150px;
  height: 40px;
  cursor: not-allowed;
}

.primary-btn:hover {
  background-color: #2563EB;
}

.primary-btn:disabled {
  background-color: gray;
}

::-webkit-scrollbar {
  display: none;
}