.about-section {
    font-family: "Poppins";
    padding: 10px;
    width: 90%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 15px;
    margin-left: 55px;
    background-color: white;
    overflow: auto;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 10 / 64%), 0 8px 16px rgb(0 10 0 / 34%);
    border-radius: 15px;
}

.about-image-content {
    width: 35%;
    max-width: 100%;
    text-align: center;
}

.about-image1 {
    width: 80%;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 0 10px 5px rgb(167, 205, 255);
}


.about-text-content {
    width: 50%;
    margin-left: 20px;
    font-family: "Poppins";

}

.about-title {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bold;
    margin-top: -40px;
}

.about-title>span {
    position: relative;
}

.about-title span::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 4px;
    background-color: #6834d4;
    border-radius: 8px;
    left: 0;
    bottom: -5px;
}

.about-description {
    margin: 32px 0;
    color: #4d4b4b;
    font-family: "Poppins";
    /* font-size: 18px; */
    letter-spacing: .7px;
    line-height: 1.7rem;
}

.about-text-title {
    margin: 0 0 24px 0;
    color: #4d4b4b;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .7px;
}

/* Steps */
.about-text-step {
    margin: 16px 0;
}

.about-text-sTitle {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .7px;
}

.about-text-description {
    margin: 8px 0px;
    color: #4d4b4b;
    font-family: "Poppins";
    letter-spacing: .7px;
    line-height: 1.6rem;
}

.fa-icon {
    color: #9D2553;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .about-section {
        display: block;
    }

    .about-image-content {
        width: 100%;
        max-width: 100%;
        margin: 0 0 32px 0;
    }

    .about-image1 {
        width: 100%;
        height: 100%;
    }

    .about-text-content {
        width: 100%;
    }
}